fastapi==0.115.14
uvicorn==0.35.0
python-multipart==0.0.6
ultralytics==8.3.162
easyocr==1.7.2
opencv-python==4.11.0.86
numpy==2.3.1
pydantic==2.11.7
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-dotenv==1.0.0
torch==2.7.1
torchvision==0.22.1 